<!DOCTYPE html>
<html>

  <head>
    <% include ../../common/partials/head %>
    <link rel="stylesheet" href="/styles/register.css">
    <script type="text/javascript" src="/helpers/register/newUserHandler.js"></script>
    <title>fog | new admin token</title>
  </head>

  <body>

    <header>
      <% include ../../common/partials/header %>
    </header>

    <main>
      <div class="inner-content">

        <form class="" method="post">
          <p>
            Need to add a new member to the fog team? Look no further!
          </p>

          <%
            var fields = [
              {
                name: 'firstName',
                label: 'first name',
                value: admin.firstName
              },
              {
                name: 'lastName',
                label: 'last name',
                value: admin.lastName
              },
              {
                name: 'email',
                label: 'email',
                value: admin.email,
                type: 'email'
              },
              {
                name: 'password',
                label: 'password',
                type: 'password'
              },
              {
                name: 'phoneNumber',
                label: 'phone number'
              }
            ];
          %>

          <% fields.forEach(function(field) { %>
            <input type="text"
                id="<%= field.name %>"
                name="<%= field.name %>"
                class="input"
                placeholder="<%= field.label || '' %>"
                type="<%= field.type || 'text' %>"
                value="<%= field.value || '' %>"/>
              <label for="<%= field.name %>"><%= field.label %></label>
            <br />
          <% }); %>
          <input type="hidden" name="_id" value="<%= admin._id %>" />
          <input type="submit" id="submit-admin" value="Register">
        </form>

      </div> <!-- end inner-content -->
    </main>

    <footer>
      <% include ../../common/partials/footer %>
    </footer>

  </body>

</html>
