<!DOCTYPE html>
<html>
  <head>
    <% include ../../common/partials/head %>
    <link rel="stylesheet" href="/styles/games.css">
    <script type="text/javascript" src="/lib/jqlite.js"></script>
    <script type="text/javascript" src="/lib/ajaxer.js"></script>
    <script type="text/javascript" src="/helpers/games/pendingGameHelper.js"></script>
    <title>fog | add a game</title>
  </head>
  <body>

    <header>
      <% include ../../common/partials/header %>
    </header>

    <main>
      <div class="inner-content">
        <h1><%= game.title %></h1>

        <div class="padded">

          <span>
          <img src="/media/<%= game.files.icon %>" class="icon" />
          </span>
          <span>
          <p>
            <span class="emphasized label">Status:</span>
            <span class="deemphasized"><%= game.status %></span>
          </p>
          <p>
            <span class="emphasized label">Description: </span>
            <span class="deemphasized"><%= game.description %></span>
          </p>
            <span class="emphasized label">Images</span>
            <br />
            <% if (game.files.images) game.files.images.forEach(function(image) { %>
              <img src="/media/<%= image %>" class="screenshot" />
            <% }); %>
          <p>

          </p>

          <p>
            <span class="emphasized">Download: </span>
            <a href="/games/<%= game._id %>/download">file</a>
          </p>
          </span>

          <% if (game.status === 'pending') { %>

            <a id="accept-game" class="emphasized" data-id="<%= game._id %>">Accept</a>

          <% } %>


        </div>

      </div>
    </main>

    <footer>
      <% include ../../common/partials/footer %>
    </footer>

  </body>
</html>
