<!DOCTYPE html>
<html>
  <head>
    <% include ../../common/partials/head %>
    <link rel="stylesheet" href="/styles/forums.css">
    <script type="text/javascript" src="/lib/jqlite.js"></script>
    <script type="text/javascript" src="/lib/ajaxer.js"></script>
    <script type="text/javascript" src="/helpers/games/pendingGameHelper.js"></script>
    <title>fog | add a game</title>
  </head>
  <body>

    <header>
      <% include ../../common/partials/header %>
    </header>

    <main>
      <div class="inner-content">
        <h1><%= game.title %></h1>

        <div class="padded">

          <img src="/media/<%= game.files.icon %>" class="icon" />

          <div>

            <p>
              <span class="emphasized">Status:</span>
              <span class="deemphasized"><%= game.status %></span>
            </p>
            <p>
              <span class="emphasized">Description: </span>
              <span class="padded deemphasized"><%= game.description %></span>
            </p>

            <p>
              <span class="emphasized">Download: </span>
              <a href="/games/<%= game._id %>/download">file</a>
            </p>

            <% if (game.status === 'pending') { %>

              <a id="accept-game" class="emphasized" data-id="<%= game._id %>">Accept</a>

            <% } %>

          </div>

        </div>

      </div>
    </main>

    <footer>
      <% include ../../common/partials/footer %>
    </footer>

  </body>
</html>
