<!DOCTYPE html>
<html>
  <head>
    <% include ../../common/partials/head %>
    <link rel="stylesheet" href="/styles/forums.css">
    <link rel="stylesheet" href="/styles/games.css">
    <script type="text/javascript" src="/helpers/games/pendingGameHelper.js"></script>
    <title>fog | <%= game && game.title || '' %></title>
  </head>
  <body>

    <header>
      <% include ../../common/partials/header %>
    </header>

    <main>
      <div class="inner-content  game-info">

        <%
          var user = session.user,
              userType = user && user.type
        %>

        <% if (!game) { %>

          <h2>There doesn't seem to be anything here</h2>

        <% } else { %>

          <%

            var images = game.files.images || [],
                videos = game.files.videos || [];

          %>
          <h1><%= game.title %></h1>

          <div class="padded">

            <div>

              <span>
                <img src="/media/<%= game.files.icon %>" class="icon" />
              </span>
              <span>
              <p>
                <span class="emphasized label">Status</span>
                <span class="deemphasized"><%= game.status %></span>
              </p>
              <p>
                <span class="emphasized label">Description </span>
                <span class="deemphasized"><%= game.description %></span>
              </p>
            </div>
            <% if (userType === 'gamer') { %>
              <div class="label">
                <a href="/games/<%= game._id %>/purchase" id="purchase">Purchase</a>
              </div>
            <% } %>
            <div>

              <span class="emphasized label">Images</span>
              <br />
              <% images.forEach(function(image) { %>
                <!-- writing images -->
                <img src="/media/<%= image %>" class="screenshot" />
              <% }); %>
              <% if (!images.length) { %>
                  <!-- no images -->
                  <span class="deemphasized padded">[No images uploaded]</span>
              <% } %>
            </div>
            <div>
              <span class="emphasized label">Videos</span>
                <br />
                <% videos.forEach(function(video) { %>
                  <video class="video" controls>
                    <source src="/media/<%= video %>" type="video/mp4"/>
                    Your browser does not support HTML5 video.
                  </video>
                <% }); %>
                <% if (!videos.length) { %>
                  <span class="deemphasized padded">[No videos uploaded]</span>
                <% } %>
                <% if (userType === 'admin' || userType === 'dev') { %>
                  <p>
                    <span class="emphasized">Download </span>
                    <a href="/games/<%= game._id %>/download">file</a>
                  </p>
                <% } %>
            </div>

            <div>

              <% if (game.status === 'pending' && userType === 'admin') { %>
                <a id="accept-game" class="emphasized green big-button" data-id="<%= game._id %>">Accept</a>
              <% } %>
            </div>

          </div>

        <% } %>
      </div>
    </main>

    <footer>
      <% include ../../common/partials/footer %>
    </footer>

  </body>
</html>
