<!DOCTYPE html>
<html>
  <head>
    <% include ../../common/partials/head %>
    <link rel="stylesheet" href="/styles/forums.css">
    <link rel="stylesheet" href="/styles/games.css">
    <script type="text/javascript" src="/helpers/games/pendingGameHelper.js"></script>
    <title>fog | <%= game && game.title || '' %></title>
  </head>
  <body>

    <header>
      <% include ../../common/partials/header %>
    </header>

    <main>
      <div class="inner-content  game-info">

        <% if (!game) { %>

          <h2>There doesn't seem to be anything here</h2>

        <% } else { %>

          <h1><%= game.title %></h1>

          <div class="padded">

            <div>

              <span>
                <img src="/media/<%= game.files.icon %>" class="icon" />
              </span>
              <span>
              <p>
                <span class="emphasized label">Status</span>
                <span class="deemphasized"><%= game.status %></span>
              </p>
              <p>
                <span class="emphasized label">Description </span>
                <span class="deemphasized"><%= game.description %></span>
              </p>
            </div>
            <div>

              <span class="emphasized label">Images</span>
              <br />
              <% if (game.files.images) game.files.images.forEach(function(image) { %>
                <img src="/media/<%= image %>" class="screenshot" />
              <% }); %>

            </div>
            <div>
              <span class="emphasized label">Videos</span>
                <br />
                <% if (game.files.videos) game.files.videos.forEach(function(video) { %>
                  <video class="video" controls>
                    <source src="/media/<%= video %>" type="video/mp4"/>
                  Your browser does not support HTML5 video.
                  </video>
                <% }); %>

                <p>
                  <span class="emphasized">Download </span>
                  <a href="/games/<%= game._id %>/download">file</a>
                </p>
            </div>

            <div>
              <%
                var user = session.user,
                    isAdmin = user && user.type === 'admin';
              %>
              <% if (game.status === 'pending' && isAdmin) { %>
                <a id="accept-game" class="emphasized green big-button" data-id="<%= game._id %>">Accept</a>
              <% } %>
            </div>

          </div>

        <% } %>
      </div>
    </main>

    <footer>
      <% include ../../common/partials/footer %>
    </footer>

  </body>
</html>
