<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/styles/forums.css">
    <title>fog | forums</title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <%
        // TODO: get this from mongo
        var tyler = new User('thoffma7');
        var thread = new Thread(tyler, 'hello world', 'hey folks');
        var firstPost = new Post(tyler, 'oh, hi');
        thread.addReply(firstPost);
        var reply = new Post(tyler, 'hello to you too');
        firstPost.addReply(reply);
        reply.addReply(new Post(tyler, 'nested hi'));
        thread.addReply(new Post(tyler, 'hello!!!!!!!!1'));


        var renderPost = function(post) { %>
          <div class="post">
            <%=post.content%>
            <br />
            <span class="deemphasized author">posted by: <%=post.user.username%></span>

            <% post.replies.forEach(function(post) {
              renderPost(post);
            }); %>

          </div>
      <% } %>
      <div class="inner-content">

        <div class="topic post">
          <h2><%=thread.title%></h2>
          <%=thread.content%>
          <br />
          <span class="deemphasized author">posted by: <%=thread.user.username%></span>
        </div>

        <% thread.replies.forEach(function(post) {
          renderPost(post);
        }); %>

      </div>

    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
