<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/styles/forums.css">
    <title>fog | forums</title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <%
        // TODO: get this from mongo
        var tyler = new User('thoffma7');
        var thread = new Thread(tyler, 'hello world', 'hey folks');
        var firstPost = new Post(tyler, 'oh, hi');
        thread.addReply(firstPost);
        var reply = new Post(tyler, 'hello to you too');
        firstPost.addReply(reply);
        reply.addReply(new Post(tyler, 'nested hi'));
        reply.replies[0].addReply(new Post(tyler, 'this is soo nested'));
        reply.addReply(new Post(tyler, 'another nested hi'));
        thread.addReply(new Post(tyler, 'hello!!!!!!!!1'));

        var renderPost = function(post) { %>
          <div class="post">

            <!-- the post -->
            <%=post.content%>
            <br />
            <span class="deemphasized author">posted by: <%=post.user.username%></span>

            <!-- the replies -->
            <% if (post.hasReplies()) { %>
              <div class="reply">
                <% post.replies.forEach(function(post) {
                  renderPost(post);
                }); %>
              </div>
            <% } %>

          </div>

      <% } %>
      <div class="inner-content">

        <!-- thread topic -->
        <div class="topic post">
          <h2><%=thread.title%></h2>
          <%=thread.content%>
          <br />
          <span class="deemphasized author">posted by: <%=thread.user.username%></span>
        </div>

        <!-- Display all posts -->
        <div>
          <% thread.replies.forEach(function(post) {
            renderPost(post);
          }); %>
        </div>

      </div>

    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
