<div class="game-box">
  <div class="inner-box image-holder">
    <img src="/media/<%= game.files.icon %>" class="icon" />
  </div>
  <div class="inner-box game-content">
    <h2><%= game.title %></h2>
    <p class="deemphasized description">
      <%
        var description = game.description,
            maxLength = 100;
        if (description.length > maxLength) {
          description = description.substring(0, maxLength) + '...';
        }
      %>
      <%= description %>
    </p>
  </div>
  <div class="inner-box price-holder">
    <h4><%= message %></h4>
  </div>
  <% if (session.user && session.user.type === 'admin') { %>
    <div class="outer-box">
      <button class="featured-button active green" id="<%=game._id + 'featured'%>">featured</button>
      <select class="onsale-button inactive" id="<%=game._id + 'onsale'%>">
      <% for (var i = 0; i <= 90; i = i + 5) { %>
        <option name="sale" value="<%=i%>%"><%=i%>%</option>
      <% } %>
      </select>
    </div>
  <% } %>
</div>
